---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: plc-testing
resources:
- ../../k8s/cloud/testing
patches:
- path: domain_config.yaml
- path: proxy_envoy.yaml
- path: bq_config.yaml
- path: db_sidecar.yaml
  target:
    kind: Deployment
    labelSelector: db=pgsql
- path: internal_lb_service.yaml
  target:
    kind: Service
    name: cloud-proxy-service
- path: internal_lb_service.yaml
  target:
    kind: Service
    name: vzconn-service
- path: backend_config.yaml
  target:
    kind: BackendConfig
    name: cloud-proxy-backend-config
- path: backend_config.yaml
  target:
    kind: BackendConfig
    name: vzconn-backend-config
- path: cloud_ingress.yaml
  target:
    kind: Ingress
    name: cloud-ingress
# - path: frontend_config
#   target:
#     kind: FrontendConfig
#     name: cloud-ingress
# Not used in testing but is required for Internet facing environments.
# Testing environment relies on cert-manager for this certificate.
# - path: cloud_ingress_managed_certs.yaml
#   target:
#     kind: ManagedCertificate
#     name: cloud-ingress-managed-cert
# - path: cloud_ingress_managed_certs.yaml
#   target:
#     kind: ManagedCertificate
#     name: cloud-ingress-managed-cert-noslackin
# - support_access_config.yaml
# - analytics_config.yaml
# - contact_config.yaml
# - db_config.yaml
# - indexer_config.yaml
# - service_config.yaml
# - domain_config.yaml
# - cloud_ingress_ip.yaml
# - script_bundles_config.yaml
# - proxy_envoy.yaml
# - auth_deployment.yaml
# patches:
# - path: db_sidecar.yaml
#   target:
#     kind: Deployment
#     labelSelector: db=pgsql
