---
apiVersion: cloud.google.com/v1
kind: BackendConfig
metadata:
  name: cloud-proxy-backend-config
spec:
  timeoutSec: 3600
  connectionDraining:
    drainingTimeoutSec: 60
  cdn:
    enabled: false
